@font-face {
  font-family: "Bariol";
  src: url(Bariol_Bold.otf);
}
/*
* {
  border: 1px dotted red;
}
*/
body {
  font-family: "Bariol", sans-serif;
  background-color: rgb(247,248,255);
  /*color: rgb(123,124,127);*/
}
header {
  text-align: center;
  height: 80px;
  visibility: hidden;
}
.top_container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 100px;
  margin-top: 5px;
}
h2 {
  font-size: 70px;
  margin-top: -80px;
  line-height: 90%;
}
.left {
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
}
.currently {
  font-size: 40px;
}
.right {
  display: inline-block;
  vertical-align: top;
  max-width: 600px;
  margin-left: 50px;
}
.face_container{
  width: 220px;
}
.face_container:hover{
  transform: rotate(0deg);
  -webkit-animation: wiggle 0.5s infinite;
}
@-webkit-keyframes wiggle {
  0% {-webkit-transform:rotate(10deg);}
  50% {-webkit-transform:rotate(-10deg);}
  100% {-webkit-transform:rotate(10deg);}
}
.face {
  width: 216px;
  height: 295px;
  margin-right: auto;
  margin-left: auto;
}
.icon {
  display: block;
  max-width: 70px;
  margin: auto;
}
.icon_link{
  display: inline-block;
  margin: auto;
  width: 49%;
}
.icon_shell{
  max-width: 218px;
  margin-top: 60px;
}
hr {
  width: 70%;
}
.footer_shell {
  max-width: 300px;
  margin:auto;
  margin-top: 10px;
}
.updates{
  background-color: rgb(198,199,204);
  font-size: 40px;
}
.lower_text {
  text-align: center;
  margin-top: -10px;
}
.heading {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}
.name {
  background-color: rgb(198,199,204);
  color: rgb(85,93,127);
}
a p {
  text-align: center;
  color: black;
  margin-top: 2px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.contact_icon {
  display: inline-block;
}
