
$headlineFont: 'Cormorant Garamond', serif;
$secondaryFont: 'Proza Libre', sans-serif;
$pmotlFont: 'Righteous', cursive;
$formallyFont: 'Playfair Display', serif;

nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  background-color: transparent;
}
.my-face {
  width: 175px;
  height: 239px;
  display: block;
  margin: 0 auto 20px auto;
  padding-top: 100px;
}
.my-face:hover {
  transform: rotate(0deg);
  animation: wiggle 0.3s infinite;
}
.my-name {
  margin: 5px;
  color: white;
  font-family: $headlineFont;
  font-size: 35px;
}
ul {
  display: flex;
  flex: inherit;
  flex-direction: row;
  margin: 5px;
  justify-content: flex-end;
}
li {
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid blue;
}
li.active {
  background-color: #aabbee;
}
a {
  text-decoration: none;
  color: blue;
  display: inline-block;
  padding: 20px;
  font-family: $secondaryFont;
}
.frontpage-name {
  text-align: center;
  font-family: $headlineFont;
  font-size: 50px;
}
p {
  font-family: $secondaryFont;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
h2 {
  text-align: center;
  font-family: $headlineFont;
  font-size: 50px;
  margin-top: 150px;
}
.project-image {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.formally-logo {
  font-family: $formallyFont;
}
.formally-page {
  background-color: gray;
  color: white;
}
.atmos-image {
  width: 320px;
  height: 81px;
  display: block;
  margin: 10px auto;
  margin-top: 150px;
}
.atmos-page {
  background-color: #00041C;
  color: white;
}
.pacman-page {
  background-color: #000000;
  color: white;
}
.pmotl-page {
  background-color: #1abc9c;
  color: white;
}
.pmotl-logo {
  font-family: $pmotlFont;
}
.link-container {
  width: 300px;
  display: flex;
  margin: 20px auto;
  justify-content: space-around;
}
.link {
  color: white;
  border: 2px solid white;
  padding: 15px;
  border-radius: 5px;
}
.link:hover {
  background-color: blue;
  transition: background-color .75s;
}
.contact {
  padding-top: 250px;
}
.logo-link > img {
  width: 80px;
  height: 80px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
